form {
    margin: 0 auto;
    width: 400px;
text-align: center;

}
.ajouter {

width: 100px;


}

body {
    background-image: url("./images-memory/background.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;

}

.logo {
width: 200px;

}