:root{
    --primary:#ffffff;
    --primarylien:hsl(226, 39%, 49%);
}

body {
    background-image: url("./images-memory/background.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    background-color: #fcfcfc;
}


 
/*--------------------------------------------------*/
form {
    margin: 0 auto;
    width: 400px;
    text-align: center;

}


/*------------------Les images --------------------*/
.ajouter {
    width: 100px;
    padding-top: 15%;
}


.logo {
    margin-bottom: 100px;
    width: 180px;
    margin-right : 0 auto;
    }

.suppimg {
    width : 100px;
    display: flex;
    margin-left: 80%;
    margin-top: 30px;
}

.mod {
    width : 100px;
    margin-left: 90%;  
}

.avatar {
    border-radius: 50%;
    width: 200px;
    margin-bottom: 10%;
}
/*---------------------------------------------------*/

a{
    color : var(--primary);
    text-decoration : none;
   
}

/*-------------------------les colonnes -------------*/



div.col-md-4 {
    color : var(--primary);
}

div.col-6 {     
  margin: 30px auto;
  width: 250px; 
  border-radius: 3px;
  line-height: 30px;
  color: var(--primary);
}

.row div.col-12 {
    padding-bottom: 30px;
    color : var(--primary);
}

div.col-12 {
    margin-top: 15px;
    color : var(--primary);
}

div.col13 {
    margin:auto;
}

.row div.col-8 {
    margin: auto;
    text-align: center;
    line-height: 2em;
}

.row div.col-9 {
    margin: auto;
    text-align: center;
    line-height: 2em;
}
div.col2 {
    background-color:var(--primary) ;
    margin-bottom: 20px;
    border-radius: 25px;
}

/*-------------------------les styles des rectangles ----------*/

.form-control {
    border-radius: 5rem;
}

.form-select {
    border-radius: 5rem;
}

.form-label {
    color:var(--primary);
    margin-bottom: 20px;
}


/*---------bouton -----------------*/


.btn-primary {
    border-radius: 5rem;
    font-size: large;
    border-radius: 5rem;
    font-size: large;
    margin-top: 15px;
    text-align: center;
}


button {
    border-radius: 5rem;
    font-size: smol;
    margin-top: 15px;
    background-color: #0d6efd;
    line-height: 30px;
    border:#0d6efd;
    text-align: center;
}

input {
    border-radius: 5rem;
    font-size: smol;
    margin-top: 15px;
    background-color: #0d6efd;
    line-height: 30px;
    border:#0d6efd;
    color: white;
}


/*-------------------------------------*/

/* mobile */
@media screen and (max-width:750px){

form {
    width: 300px;
}

.col-9 {
    width:100%
}

div.col-8 {
    margin-left: 0%;
}

div.col-6 {
    margin: 40px 100px;
}
.logo {
    margin-bottom: 0px;
    width: 95%;
    margin-right:60%;
}


}
